---
import type { GetStaticPaths } from "astro";

import BaseLayout from "../../layouts/BaseLayout.astro";
import PokemonCard from "../../components/PokemonCard.astro";


export const getStaticPaths = (async () => {
    const resp = await fetch("https://pokeapi.co/api/v2/pokemon?limit=151");
    const { results } = await resp.json();
    
    return results.map(({name, url}) => (
        {
            params: { name},
            props: {name, url}
        }
    ))

}) satisfies GetStaticPaths;

const {name} = Astro.params;
const {url} = Astro.props;

const id = url.split("/").at(-2);

const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
---

<BaseLayout title="">
    <section class="mt-10 mx-10 flex flex-col justify-center items-center">
        <div>
            <a href="/" class="hover:underline hover:text-amber-400 hover:font-bold">Go back</a>
            <h1 class="text-5xl capitalize">{name}</h1>
        </div>
        <PokemonCard name={name} url={url} isBig/>
        <audio controls class="mt-5">
            <source src={audioSrc} type="audio/ogg">
        </audio>
    </section>
</BaseLayout>
